.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    text-align: center;        
}



.one {
    border: 2px solid red;
    grid-column-start: 1;
    grid-column-end: 3;
}

 .three {
    border: 2px solid red;
    grid-row-start: 2;
    grid-row-end: 4;
}

.four {
    border: 2px solid red;
    grid-column-start: 2;
    grid-column-end: 4;
}

.two, .five, .six {
    border: 2px solid red;
} 