.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    text-align: center;        
}



.one {
    border: 2px solid red;
    grid-column: 1 / 4;
}

.two, .three, .four, .five, .six {
    border: 2px solid red;
}

